.album-select {
  width: 400px;
}
@media (max-width: 1023px) {
  .album-select {
    width: 300px;
    margin: 30px 0 !important;
  }
}
@media (max-width: 767px) {
  .album-select {
    width: 80%;
  }
}
